/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	-fx-margin: 0 0 0 0;
  	-fx-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  	-fx-font-size: 16px;
  	-fx-font-weight: 400;
  	-fx-line-height: 1.5;
  	-fx-color: #212529;
  	text-align: left;
  	-fx-background-color: #fff;
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
}

#pane{
	-fx-background-repeat: stretch;
	-fx-background-size: 800 500;
	-fx-background-position: center center;
	-fx-background-color: #17a2b8;
	
	
}

.btn {
  -fx-background-radius: 50px 50px 50px 50px, 50px 50px 50px 50px;
}
.lbl{
	-fx-border-width: 2px;
	-fx-border-color: #343a40;
	-fx-border-radius: 5%;
	-fx-border-insets: 10 50 10 50;
	-fx-padding: 10 50 10 50; 
}

.btn:hover{
	-fx-cursor : hand;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
	-fx-padding: 5px;
	-fx-background-color: linear-gradient(rgba(0,212,255,1) 35%, rgba(255,255,255,1) 100%);
}
.primary:hover{
	
}


.h1, .h2, .h3, .h4, .h5, .h6 {
  -fx-margin-bottom: 9px;
  -fx-font-weight: 500;
  -fx-line-height: 1.2;
}

.h1 {
  -fx-font-size: 40px;
}

.h2 {
  -fx-font-size: 32px;
}

.h3 {
  -fx-font-size: 28px;
}

.h4 {
  -fx-font-size: 24px;
}

.h5 {
  -fx-font-size: 20px;
}

.h6 {
  -fx-font-size: 16px;
}

.lead {
  -fx-font-size: 20px;
  -fx-font-weight: 300;
}

.display{
  -fx-font-size: 56px;
  -fx-font-weight: 300;
  -fx-line-height: 1.2;
}

.hr {
  -fx-margin-top: 16px;
  -fx-margin-bottom: 16px;
  -fx-border: 0;
}
/* ALL COLOR  */
.blue{-fx-background-color : #204689;}
.indigo{-fx-background-color : #6610f2;}
.purple{-fx-background-color : #6f42c1;}
.pink{-fx-background-color : #e83e8c;}
.red{-fx-background-color : #d9534f;}
.orange{-fx-background-color : #fd7e14;}
.yellow{-fx-background-color : #f0ad4e;}
.green{-fx-background-color : #02B875;}
.teal{-fx-background-color : #20c997;}
.cyan{-fx-background-color : #17a2b8;}
.white{-fx-background-color : #fff;}
.gray{-fx-background-color : #868e96;}
.gray-dark{-fx-background-color : #343a40;}
.primary{-fx-background-color : /*#204689 */ linear-gradient(rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);}
.secondary{-fx-background-color : #adb5bd;}
.success{-fx-background-color : #02B875;}
.info{-fx-background-color : #17a2b8;}
.warning{-fx-background-color : #f0ad4e;}
.danger{-fx-background-color : #d9534f;}
.light{-fx-background-color : #343a40;}
.dark{-fx-background-color : #f8f9fa;}

.white-color{-fx-text-fill:  #fff;}


